body {
	direction: rtl;
	background-color: black;
	color: white;
	cursor: none;
}

.container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
}

.section {
	padding: 15%;
	font-size: 175%;
}

.clock {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12rem;
	height: 12rem;
	margin: -6rem 0 0 -6rem;
	border-radius: 50%;
	border: 0.2rem solid white;
	background-color: rgba(0, 0, 0, 0);
}

.hand {
	position: absolute;
	background-color: white;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
	transition: transform 0.5s ease;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.hour {
	height: 20%;
	top: 30%;
	left: 50%;
	width: 3px;
	margin-left: -1.5px;
}

.minute {
	height: 30%;
	top: 20%;
	left: 50%;
	width: 2px;
	margin-left: -1px;
}

.second {
	height: 45%;
	top: 5%;
	left: 50%;
	width: 1px;
	margin-left: -0.5px;
}